$primary: rgb(96 10 255);
$secondary: rgb(204 243 129);
$white: rgb(255 255 255);
$primary-light: rgb(120 118 254);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

section {
  display: flex;
  align-items: center;
  padding: 1.25rem;

  div {
    width: 480px;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    h2 {
      color: $secondary;
      font-size: 2.5rem;
      margin-bottom: 0.2rem;
    }

    p {
      margin-bottom: 1.3rem;
      line-height: 1.5rem;
    }
  }
}

.app-title-wrapper {
  background-color: $white;
  color: $primary;
  justify-content: right;

  .app-title-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .app-title {
      margin-top: -5rem;
    }
  }
}

.app-content-container {
  background-color: $primary;
  color: $white;
}

label {
  display: block;
  font-weight: bold;
}

form {
  button {
    border: 1px solid $white;
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $white;
      color: $primary;
    }
  }

  input {
    width: 75%;
    background-color: $primary-light;
    border: none;
    color: $white;
    font-size: inherit;
    margin: 0.3rem 0 1rem 0;
    padding: 0.65rem 1rem;
    border: 2px solid $primary-light;

    &::placeholder {
      color: rgb(255 255 255 / 0.75);
    }

    &:focus {
      outline: none;
      border: 2px solid $secondary;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: 1px solid $primary;
  font-size: 0.95rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #fff;
  color: $primary;
  font-weight: bold;
  cursor: pointer;
  padding: 1.2rem 3.2rem;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $white;
    background-color: $primary;
    color: $white;
  }
}

.mobile-footer-container {
  display: none;
}

.footer-container {
  display: block;
}

@media (max-width: 570px) {
  main {
    display: block;

    section {
      display: block;
      padding: 1.2rem;

      div {
        width: auto;

        h1 {
          margin-bottom: 0.75rem;
          line-height: 3rem;
        }
      }
    }
  }

  button {
    width: 100%;
  }

  .app-title-wrapper .app-title-container .app-title {
    margin-top: 1.25rem;
  }

  form input {
    width: 100%;
  }

  .mobile-footer-container {
    display: block;
    margin-top: 3rem;

    a {
      color: $secondary;
    }
  }

  .footer-container {
    display: none;
  }
}
